/*
* {
    border: 1px dashed blue;
}
*/

body {
    margin: auto;
    padding: 20px;
    height: 100%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 4px 6px #D3D3D3;
    padding: .5em;
    margin: .5em;
    text-align: center;
}

.top-labels {
    display:-webkit-flex;
    display:-ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

section {
    display:-webkit-flex;
    display:-ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;    
}

.shopping {
    text-align: center;
    border: 5px solid black;
    border-radius: 5px;
    box-shadow:10px 10px 5px #888888;
    max-width: 25em;
    min-height: 28em;
    padding: 1em;
}


.inventory {
    text-align: center;
    border: 5px solid black;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #888888;
    max-width: 25em;
    min-height: 28em;
    padding: 1em;
}


.item-name {
    margin: 8px 0px;
    text-align: left;
    width: 340px;
    font-family: 'Electrolize', sans-serif;
    font-size: 18px;
    border: none;
    <!--border: 2px solid black;-->
}


.tag-name {
    text-align: left;
    width: 8em;
    padding: 4px;
    font-family: 'Electrolize', sans-serif;
}

input::-webkit-input-placeholder {
    color: #4C4C4C;
}

input:-moz-placeholder {
    color: #4C4C4C;
}

input::-moz-placeholder {
    color: #4C4C4C;
}

input:-ms-placeholder {
    color: #4C4C4C;
}

input:focus {
    outline: none;
}

.items {
    margin: 20px;
    margin-top: 0px;
    padding-left: 15px;
    display: block;
    font-family: 'Electrolize', sans-serif;
    color: #4C4C4C;
    text-align: left;
}

.items p {
    /*font-family: 'Orbitron', sans-serif;*/
    font-family: 'Electrolize', sans-serif;
    color: #4C4C4C;
    display: block;
    cursor: crosshair;
}

.fa-arrow-right {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
}

.fa-arrow-right:hover {
    cursor: default;
}

ol {
    padding-left: 20px;
}

.fa-times {
    float: right;
}

.fa-times:hover {
    cursor: default;
}

li:last-child {
    list-style: none;
}

button {
  background-color: white;
}

.search-field {
    margin: 20px;
    text-align: center;
    width: 350px;
    padding: 4px;
    font-family: 'Electrolize', sans-serif;
    font-size: 15px;
    border: 2px solid black;
}

.fa-plus-square {
    color: #1D73BA;
}

.fa-plus {
    border: none;
}